<h1>{{'app.title' | translate}}</h1>

<form class="filters" [formGroup]="filterForm">
  <div class="entry">
    <label>{{'app.filters.id' | translate}}</label>
    <input type="number" formControlName="id">
  </div>

  <div class="entry">
    <label>{{'app.filters.text' | translate}}</label>
    <input type="text" formControlName="text">
  </div>

  <div class="button-bar">
    <button type="reset" (click)="resetFilters()">
      {{'app.filters.reset' | translate}}
    </button>

    <button type="submit" (click)="filter()">
      {{'app.filters.filter' | translate}}
    </button>
  </div>
</form>

<section class="results">
  <ng-container *ngFor="let photo of gallery">
    <app-photo [photo]="photo"></app-photo>
  </ng-container>

</section>