* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background: #0079c8;
  color: #fff;
  padding: 1em;
}



.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border: 2px solid #0079c8;

  .entry {
    display: flex;
    flex-direction: column;
    margin: 1em;
    flex: 1;

    label {
      font-weight: 700;
      margin-bottom: .5em;
    }

    input {
      display: flex;
      align-content: center;
      padding: .4em;
      background: #efefef;
      border: solid 1px #000;
      border-radius: .4rem;
    }
  }


  .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 1em 0;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      cursor: pointer;
      border-radius: 10rem;
      min-width: 7em;
      position: relative;
      padding: 1em;
      margin: 0 1em;
      font-size: 1em;

      &[type="submit"] {
        background: #0079c8;
        color: #fff;
        border: 2px solid transparent;

        &:hover {
          background-color: #00558c;
        }
      }

      &[type="reset"] {
        background: #fff;
        color: #0079c8;
        border: 2px solid #0079c8;

        &:hover {
          color: #00558c;
          border: 2px solid #00558c;
        }
      }
    }
  }
}




.results {
  display: flex;
  flex-wrap: wrap;

  .photo-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    border: solid 1px black;
    border-radius: 3em;

    img {
      width: 100%;
    }

    p {
      padding: 0 2em;
      text-align: center;
    }
  }
}
